@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
  url("../fonts/rubik-v14-latin-regular.woff2") format("woff2"), 
  url("../fonts/rubik-v14-latin-regular.woff") format("woff")
  
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
  url("../fonts/rubik-v14-latin-500.woff2") format("woff2"), 
  url("../fonts/rubik-v14-latin-500.woff") format("woff")
  
}


@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
  url("../fonts/rubik-v14-latin-700.woff2") format("woff2"), 
  url("../fonts/rubik-v14-latin-700.woff") format("woff")
  
}

* {
  box-sizing: border-box;
}

img{
  vertical-align: middle;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

body{
  margin: 0;
  padding: 0;
  font-family: "Rubik", "Arial", sans-serif;
}

.container{
  width: 1240px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

.header-top{
  background-color:#F6F6F6;
  padding: 30px 0;
  margin-bottom: 30px;
  
}

.header-top-inner{
  display: flex;
  align-items: center;
  
}

.site-logo{
  width: 276px;
  height: 45px;
  margin-right: 35px;
}

.currency-list{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: auto;
}

.currency-item{
  margin-right: 25px;
  font-weight: 400;
  color: #555555;
}

.symbol{
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #2959CE;
}
.search-input{
  padding: 15px 41px;
  margin-right: 25px;
  width: 275px;
  border: 0;
  background-image: url(../images/search.svg);
  background-repeat: no-repeat;
  background-position: left 15px center;
  background-color: #fff;
  border-radius: 60px;
}

.languages{
  display: flex;
  width: 70px;
  height: 36px;
  background-color: #DCE6FF;
  border-radius: 39px;
  padding: 3px;
  margin-right: 25px;
  
}

.languages-link{
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-decoration: none;
  font-size: 13px;
  color: #A6A6A6;
}

.active-language{
  background-color: #fff;
  border-radius: 50%;
  color: #000;
}

.personal-cabinet{
  width: 89px;
  text-decoration: none;
  padding: 13px 20px;
  background-color: #7296EC;
  border: 0;
  border-radius: 10px;
  color:#fff ;
}

.personal-cabinet:hover{
  background-color: #0f4fe6;
  cursor: pointer;
}

.nav-menu{
  margin-bottom: 40px;
}

.active-nav{
  margin-bottom: 50px;
}

.nav-list{
  display: flex;
  justify-content: space-between;
  list-style: none; 
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #D1D1D1;
  
}

.nav-sublist{
  text-decoration: none;
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  text-align: center;
  color: #7F7F7F;
}

.line{
  border: 1px solid #D1D1D1;
  margin-bottom: 40px;
}

.advertisement-img{
  width: 1200px;
  height: 128px;
  margin-bottom: 50px;
}

.main-heading{
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.news-section{
  margin-bottom: 60px;
}

.news-list{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.news-sublist{
  padding: 20px 17px 15px 17px;
  width: 393px;
  background: #F6F6F6;
  border-radius: 15px;
  margin-right: 10px;
  margin-bottom: 10px;
  
}

.active-list{
  margin-right: 0;
  /* margin-bottom: 0; */
}

.heading-element{
  width: 336px;
}

.sublist-heading{
  font-size: 20px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 10px;
}

.sublist-heading-link{
  text-decoration: none;
  color: #000;
}

.active-heading{
  width: 346px;
}

.sublist-text{
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #4a4b4c;
  margin-top: 0;
  margin-bottom: 15px;
}

.list-img{
  width: 359px;
  height: 165px;
  margin-bottom: 15px;
}

.sublist-img{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.sublist-span{
  font-size: 12px;
  line-height: 14px;
  color: #5e5f61;
}

.notification{
  width: 1050px;
  margin-right: auto;
  margin-bottom: 60px;
  margin-left: auto;
  background-image: url(../images/notification-backgroundimg.png);
  background-repeat: no-repeat;
  background-position: center;
}

.notification-items{
  display: flex;
  padding: 25px 71px 25px 29px;
  
}

.notification-heading{
  width: 404px;
  margin-right: 397px;
  
}

.notification-heading-item{
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
}

.notification-link{
  text-decoration: none;
  padding: 13px 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  background-color: #F78b3b;
  border-radius: 10px;
}

/* .world-news-section{
  
} */

.world-news-heading{
  width: 83px;
  margin-bottom: 20px;
}
.world-heading-item{
  margin: 0;
  font-weight: 500;
  font-size: 24;
  line-height: 28.44px;
}

.world-news-items{
  display: flex;
}

.world-list{
  list-style: none;
  margin: 0;
  padding: 0;
  width: 797px;
  margin-right: 10px;
}

.world-list-item{
  display: flex;
  padding: 20px 20px 20px 17px;
  margin-bottom: 17px;
  background-color: #F6F6F6;
  border-radius: 15px;
}

.world-list-img{
  width: 210px;
  height: 165px;
  margin-right: 15px;
}

.worldlist-subitem{
  width: 535px;
}

.worldlist-heading{
  /* font-weight: 500; */
  font-size: 20px;
  line-height: 26px;
  margin: 0;
}

.Worldlist-heading-link{
  text-decoration: none;
  color: #000;
}

.worldlist-text{
  font-size: 16px;
  line-height: 22px;
  color: #4a4b4c;
  margin: 10px 0;
}



.world-news-link{
  width: 796px;
  padding: 17px ;
  background: #EAEAEA;
  border-radius: 10px;
  margin-bottom: 100px;
}

.world-news-sublink{
  display: block;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000;
}

.sidebar-news {
  width: 393px;
}

.local-news-page{
  background-color: #F6F6F6;
  padding: 20px 20px 25px 17px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.local-news-heading{
  margin: 0;
  /* font-weight: 500; */
  font-size: 24px;
  line-height: 28px;
}

.local-page-list{
  padding: 0;
  margin: 0;
  list-style: none;
}

.local-page-sublist{
  list-style: none;
  width: 311px;
  margin: 20px 0;
  border-bottom: 1px solid #d2d2d2;
}

.active-local-list{
  margin-bottom: 0;
  border-bottom: none;
}


.local-page-subheading{
  margin:0;
  margin-bottom: 8px;
}

.local-page-link{
  text-decoration: none;
  color: #000;
  /* font-weight: 500; */
  font-size: 18px;
  line-height: 24px;
}

.local-page-span{
  display: block;
  font-size: 13px;
  line-height: 15.41px;
  color: #5e5f61;
  margin-bottom: 20px;
}
.active-span{
  margin-bottom: 0;
}

.residence-img{
  width: 393px;
  height: 338px;
}

.active-olmos-img{
  width: 393px;
  height: 553px;
}

footer{
  padding: 40px 221px;
  background-color: #7297EF;
}

.footer-logo-part{
  margin-bottom: 15px; 
}

.footer-logo-link{
  text-decoration: none;
}

.footer-logo-img{
  width: 264px;
  height: 28px;
}

.footer-middle{
  display: flex ;
}

.copyright-description{
  width: 229px;
  margin-right: 203px;
}

.copyright-text{
  font-size: 12px;
  line-height: 19px;
  color: #fff;
  margin: 0;
}

.footer-site-units{
  width: 167px;
  margin-right: 100px;
}

.units-list{
  padding: 0;
  margin: 0;
  list-style: none;
}

.units-list-item{
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  margin-bottom: 20px;
}

.units-list-sublink{
  text-decoration: none;
  color: #fff;
}

.active-units-item{
  margin-bottom: 30px;
}

.footer-span{
  display: inline-block;
  width: 998px;
  height: 1px;
  margin-bottom: 20px;
  background-color: #cecece;
}

.footer-bottom{
  display: flex;
}

.social-media-description{
  width: 161px;
  margin-right: 662px;
}

.social-media-text{
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  color: #fff;
  
}

.social-media-list{
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.social-media-listitem{
  margin-right: 25px;
}

.social-media-links{
  text-decoration: none;
}
.social-media-images{
  width: 25px;
  height: 25px;
}

.about-ElonMusk{
  width: 797px;
  margin-right: 10px;
  padding-bottom: 50px;
  border-bottom: 1px solid #D2D2D2;;
}

.Elon-heading{
  font-size: 26px;
  line-height: 36px;
}

.manufacturing-tesla{
  width: 797px;
  height: 300px;
  margin-bottom: 25px;
}

.information-text{
  font-size: 20px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 24px;
}
.active-information-text{
  margin-bottom: 0;
}

.main-body{
  display: flex;
  margin-bottom: 50px;
}

.actual-section{
  margin-bottom: 100px;
}

.contact-title{
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0 0 20 0;
}

.contact-box{
  display: flex;
  margin-bottom: 20px;
}

.contact-form{
  width: 696px;
  margin-right: 10px;
}

.contact-item{
  justify-content: space-between;
}



.contact-input{
  width: 49%;
  /* width: 343px; */
  padding: 18px 20px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-radius: 10px;
}

.active-input{
  margin-right: 10px;
  margin-bottom: 10px;
}

.contact-email{
  width: 100%;
  padding: 18px 20px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 10px;
}

.comment-textarea{
  width: 100%;
  padding: 18px 20px;
  resize: none;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border-radius: 10px;
}

.contact-information-box{
  width: 494px;
  padding: 20px 25px 20px 25px;
  background: #F6F6F6;
  border-radius: 10px;
}

.contact-information-list{
  padding: 0;
  margin: 0;
  list-style: none;
}

.contact-information-list-item{
  padding: 20px 0;
  border-bottom: 1px solid #d2d2d2;
}

.active-list-item{
  border-bottom: none;
}

.contacts-information-title{
  display: block;
  width: 193px;
  margin-bottom: 7px;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.contact-information-link{
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-bottom: 20px;
  
}

.active-information-link{
  border-bottom: none;
}







